.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    .menuItem {
        font-size: 0.95rem;
        font-weight: 500;
        cursor: pointer;
        &:first-child {
            font-weight: 700;
        }
        &:hover {
            font-weight: 700;
        }
    }
    
}